<p>Items are created using markup (divs)</p>

<labs-masonry [options]="masonryOptions" >
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div class="grid-item grid-item grid-item--height2">Height 2</div>
  <div class="grid-item grid-item--height3">Height 3</div>
  <div class="grid-item grid-item--height2">Height 2</div>
  <div class="grid-item grid-item">Height </div>
  <div class="grid-item">Height </div>
  <div class="grid-item">Height </div>
  <div class="grid-item grid-item--height2">Height 2</div>
  <div class="grid-item grid-item grid-item--height3">Height 3</div>
  <div class="grid-item">Height </div>
  <div class="grid-item grid-item--height2">Height 2</div>
  <div class="grid-item">Height </div>
  <div class="grid-item grid-item grid-item--height2">Height 2</div>
  <div class="grid-item grid-item">Height </div>
  <div class="grid-item">Height </div>
  <div class="grid-item grid-item--height2">Height 2</div>
  <div class="grid-item">Height </div>
  <div class="grid-item">Height </div>
  <div class="grid-item grid-item--height3">Height 2</div>
  <div class="grid-item grid-item--height2">Height 2</div>
  <div class="grid-item">Height </div>
  <div class="grid-item">Height </div>
  <div class="grid-item grid-item--height2">Height 2</div>
</labs-masonry>
