ul, li {
  list-style: none;
  display: inline;
  list-style-type: none;
  padding: 0;
}

li {
  margin-left: 1rem;
}

ul :first-child {
  margin-left: 0;
}

a {
  text-decoration: none;
  background-color: lightgray;
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

.active {
  background-color: lightcyan;
}

.child {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 0.5rem 2rem;
}