<h3>About Angular 2 Labs</h3>

Developed by <a href="https://github.com/sirajc">Sirajuddin Choudhary</a>
<br >
Source code availabe at <a href="https://github.com/sirajc/angular2-labs">sirajc/angular2-labs</a>
<br >
<h3> Features </h3>

<ul>
  <li>bootstrapping AppModule <em>(NgModule)</em> using <code>bootstrapModule</code></li>
  <li>All Components are part of respective NgModule</li>
  <li>Shared Modules</li>
  <li>Route definition in NgModule</li>
  <li>Lazy Load Module for a Route</li>
  <li>Webpack</li>
  <li>Unit Testing</li>
  <li>Synchronous Loading of Modules using loadChildren</li>
  <li>Dygraphs Integration</li>
  <li>Masonry Integration</li>
  <li>Forms</li>
  <li>Template Driven Forms</li>
</ul>
