<p>Masonry is a design pattern used to create grid having items of variable
  height and width like Pinterest. Built using Javascript libary
  <a target="_blank" href="http://masonry.desandro.com/">Masonry</a>. This is responsive as well i.e.
  width and number of columns are adjusted based on screen size
</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="markup" routerLinkActive="active">Markup based</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="ngfor" routerLinkActive="active">NgFor based</a>
  </li>
</ul>

<router-outlet></router-outlet>
