.nav-tabs {
  border-bottom: 1px solid #eee;
}

.nav-tabs> li {
  padding: 0;
  // font-size: smaller;
}

.nav-tabs> li.active> a,
.nav-tabs> li.active> a:focus,
.nav-tabs> li.active> a:hover {
  border-width: 0;
}

.nav-tabs> li> a {
  border: none;
  color: #666;
  padding: 0.125rem 1rem;
}

.nav-tabs> li> a:hover {
  border-bottom: solid 2px lighten($color: #4285F4, $amount: 20%);
  background: transparent;
}

.nav-tabs> li> a.active,
.nav-tabs> li> a:hover .active {
  border-bottom: solid 2px #4285F4;
  color: #4285F4;
  background: transparent;
}
