<div class="app-container">
  <header>
    <h1>
      Angular 2 Labs
    </h1>
    <nav>
      <ul>
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="lazy" routerLinkActive="active">Lazy</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>


  <footer class="app-footer">
    Sirajuddin Choudhary © 2016
  </footer>
</div>