.app-container {
  margin: 1rem 2rem;
}

.app-footer {
  clear: both;
  position: relative;
  height: 3em;
  margin-top: 3em;
  font-size: smaller;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline;
  margin-left: 1em;
  list-style-type: none;
}

ul :first-child {
  margin-left: 0;
}

a {
  text-decoration: none;
  background-color: lightgray;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.2s ease;
}

a, a:visited, a:hover {
  color: black;
}

a:hover {
  background-color: lightskyblue;
}

.active {
  background-color: lightcyan;
}

main {
  margin-top: 2rem;
}
