ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
}
li {
  cursor: pointer;
  transition: all 0.2s ease;
}
li:hover {
  padding-left: 10px;
  color: silver;
}
.selected {
  font-size: 110%;
  background-color: teal;
}

li a {
  text-decoration: none;
}

li a, li a:visited {
  color: inherit;
}
